body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f4f8; /* Light blue background */
}

button {
  cursor: pointer;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: #0d6efd;
}

.alert-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.text-style {
  font-family: 'Oswald', sans-serif;
  color: white;
}

.Tilt {
  background-color: #04c1fa;
  padding: 20px;
  border-radius: 10px;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-text {
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
  padding: 10px;
}

.display {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.homepage {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.signin-button {
  height: 40px;
  width: 150px;
  background-color: #1890ff;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 20px 0px;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  background-color: #0d6efd;
}

.input-area {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 250px;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

.search-box {
  margin: 0px 10px;
  margin: 5px;
  font-size: 24px;
  width: 80%;
}

.detect-box {
  margin: 10px 10px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }

  .homepage {
    width: 50%;
  }

  .face-container-img {
    width: 600px;
    height: auto;
  }
}
